<div>
  <h1 class="h3">A little bit about me:</h1>
  <p class="lead">
    I'm a full-stack software engineer who loves to write code and solve problems through the use of technology.
  </p>
  <p>
    One day I hope to become a software architect. I love to think about the bigger picture, and think critically about
    how all the difference pieces tie together.
  </p>
</div>

<div>
  <h5 class="h5">Here is  a list of tech I've used in my career thus far:</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">C#</li>
    <li class="list-group-item">Angular</li>
    <li class="list-group-item">MongoDB</li>
    <li class="list-group-item">SQL Server</li>
    <li class="list-group-item">Docker</li>
    <li class="list-group-item">HTML/CSS/JavaScript</li>
    <li class="list-group-item">Vue.js</li>
    <li class="list-group-item">Groovy (automated scripts through Katalon Studio)</li>
  </ul>
</div>

<div>
  <h5 class="h5">I've played a few different roles in my day. Here are some titles I've worked as:</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Software Engineer (up to 3)</li>
    <li class="list-group-item">Senior Software Developer</li>
    <li class="list-group-item">Application Developer II</li>
  </ul>
</div>
