<h1>
  Search for an Artist:
</h1>

<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="artistSearch">Search</label>
    <input
      class="form-control"
      id="artistSearch"
      type="text"
      formControlName="artistSearch"/>
  </div>
  <div class="form-group">
    <label for="marketCode">
      Market Code
    </label>
    <input
      class="form-control"
      id="marketCode"
      type="text"
      formControlName="marketCode" />
  </div>
  <div class="form-group">
    <label for="limit">Artist Limit:</label>
    <input
      class="form-control"
      id="limit"
      type="text"
      formControlName="limit" />
  </div>
  <div>
    <button
        class="btn btn-primary"
        type="submit">Search for an Artist</button>
  </div>
</form>

<div *ngIf="artistSearchResult.artists">
  <artist-card [artists]="artistSearchResult.artists"></artist-card>
</div>
